.App {
  text-align: center;
}

@font-face {
  font-family: Orbitron;
  src: url(./assets/fonts/Orbitron.ttf);
}

body {
  color: #282c34 !important;
}

.AppHeader {
  background-color: #0096FF;
  min-height: 80px;
  display: flex;
  font-family: Orbitron;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  padding-left: 40px;
}

.logo {
  width: 32px;
  height: 32px;
  padding-right: 6px;
  margin-bottom: 2px;
}
